<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>感染リスク計算</title>
</head>

<body>
    <header class="shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">COVID-19 感染リスク計算</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/policy">Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="card border-secondary mb-5">
            <div class="m-3">
                <h4>概要</h4>
                <p class="fs-6 mx-2">
                    新型コロナウイルス(COVID-19)に対するご自身の感染対策が，どの程度効果があるか試算できます。
                </p>
                <h4>注意</h4>
                <p class="fs-6 mx-2">
                    感染リスクの計算は，2020～2021年の感染情報に基づいています。2022年の第6波以降の感染状況と違う場合があります。ご了承下さい。
                </p>
                <h4>参照</h4>
                <p class="fs-6 mx-2">
                    日本リスク研究学会誌2022年第31巻第3号p.249-259「新型コロナウイルスの感染リスクに基づく感染対策の評価」
                </p>
            </div>
        </div>

        <!-- form -->
        <form class="fs-6 needs-validation" name="infectionForm" novalidate>
            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    お住まいの都道府県
                </div>

                <div class="card-body">
                    <div class="mb-3">
                        <select id="ariaSelect" class="form-select form-select" for="ariaSelectFor" required>
                            <option selected disabled value="">選択してください</option>
                            {{range .AriaNames}}
                            <option value={{.}}>{{.}}</option>
                            {{end}}
                        </select>

                        <div class="invalid-feedback">
                            在住の都道府県を選択してください
                        </div>
                    </div>

                    <input class="form-control" name="infectedPeople" id="infectedPeopleId" readonly>

                    <p class="card-text"><small>住んでいる都道府県の直近1週間の10万人あたりの新規感染者数</small></p>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    1日に接する人数
                </div>

                <div class="card-body">
                    <div class="alert alert-warning mb-3" role="alert">
                        <p class="card-text"><small>接触時間が15分以上で距離が1m以内の人数</small></p>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactCountPerDay"
                            id="contactCountPerDayId0" value="0" required />
                        <label class="form-check-label" for="contactCountPerDayId0">
                            0 人
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactCountPerDay"
                            id="contactCountPerDayId1" value="1" required />
                        <label class="form-check-label" for="contactCountPerDayId1">
                            1 人
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactCountPerDay"
                            id="contactCountPerDayId2" value="2" required />
                        <label class="form-check-label" for="contactCountPerDayId2">
                            2 人
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactCountPerDay"
                            id="contactCountPerDayId3" value="5" required />
                        <label class="form-check-label" for="contactCountPerDayId3">
                            3 ~ 5 人
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactCountPerDay"
                            id="contactCountPerDayId4" value="10" required />
                        <label class="form-check-label" for="contactCountPerDayId4">
                            6 ~ 10 人
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactCountPerDay"
                            id="contactCountPerDayId5" value="20" required />
                        <label class="form-check-label" for="contactCountPerDayId5">
                            11 ~ 人
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    普段使用しているマスクの種類
                </div>

                <div class="card-body">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" value="0.1" name="maskType" id="maskType0"
                            required />
                        <label class="form-check-label" for="maskType0">
                            N95マスクや医療マスク
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" value="0.3" name="maskType" id="maskType1"
                            required />
                        <label class="form-check-label" for="maskType1">
                            不織布マスク
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" value="0.6" name="maskType" id="maskType2"
                            required />
                        <label class="form-check-label" for="maskType2">
                            布マスク
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" value="0.65" name="maskType" id="maskType3"
                            required />
                        <label class="form-check-label" for="maskType3">
                            ウレタンマスク
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" value="1" name="maskType" id="maskType4"
                            required />
                        <label class="form-check-label" for="maskType4">
                            フェイスシールド
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    人との距離
                </div>

                <div class="card-body">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="distance" value="0.25" id="distance0"
                            required />
                        <label class="form-check-label" for="distance0">
                            2 m 以上
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="distance" value="0.5" id="distance1"
                            required />
                        <label class="form-check-label" for="distance1">
                            1 m 程度
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="distance" value="1" id="distance2"
                            required />
                        <label class="form-check-label" for="distance2">
                            意識して取っていない
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    換気
                </div>

                <div class="card-body">
                    <div class="alert alert-warning mb-3" role="alert">
                        <p class="card-text"><small>一日に一番多く過ごす場所について</small></p>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="ventilation" value="0.64" id="ventilation0"
                            required />
                        <label class="form-check-label" for="ventilation0">
                            一般病室水準の換気 <br class="d-sm-none" />(30分に1回，または30m<sup>3</sup>/時の換気)
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="ventilation" value="0.78" id="ventilation1"
                            required />
                        <label class="form-check-label" for="ventilation1">
                            通常換気　<br class="d-sm-none" />(2時間に1回，または20m<sup>3</sup>/時)
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="ventilation" value="1" id="ventilation2"
                            required />
                        <label class="form-check-label" for="ventilation2">
                            換気なし
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    普段の手洗い
                </div>

                <div class="card-body">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="handWash" value="0.0001" id="handWash0"
                            required />
                        <label class="form-check-label" for="handWash0">
                            洗剤10秒もみ洗いと、<br class="d-sm-none" />15秒すすぎを場所移動ごと
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="handWash" value="0.01" id="hadWash1"
                            required />
                        <label class="form-check-label" for="hadWash1">
                            洗剤10秒もみ洗いと、<br class="d-sm-none" />15秒すすぎを1日数回
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="handWash" value="0.01" id="hadWash2"
                            required />
                        <label class="form-check-label" for="hadWash2">
                            洗剤なし15秒を場所ごと
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="handWash" value="0.1" id="hadWash3"
                            required />
                        <label class="form-check-label" for="hadWash3">
                            洗剤なし15秒を1日数回
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="handWash" value="1" id="hadWash4" required />
                        <label class="form-check-label" for="hadWash4">
                            しない
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    消毒頻度
                </div>

                <div class="card-body">
                    <div class="alert alert-warning mb-3" role="alert">
                        <p class="card-text"><small>他の人も使用する机や椅子など</small></p>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="disinfection" value="0.01" id="disinfection0"
                            required />
                        <label class="form-check-label" for="disinfection0">
                            こまめに拭き掃除や,<br class="d-sm-none" />アルコールなどを用いて消毒
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="disinfection" value="0.1" id="disinfection1"
                            required />
                        <label class="form-check-label" for="disinfection1">
                            1日1回程度
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="disinfection" value="1" id="disinfection2"
                            required />
                        <label class="form-check-label" for="disinfection2">
                            しない
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary form-group mb-5">
                <div class="card-header fs-5">
                    毎日使うものを他の人が使うか
                </div>
                <div class="card-body">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactRate" value="0.01" id="contactRate0"
                            required />
                        <label class="form-check-label" for="contactRate0">
                            接触するものが，ほとんどが自分専用
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactRate" value="0.1" id="contactRate1"
                            required />
                        <label class="form-check-label" for="contactRate1">
                            接触するものは，他の人も使う
                        </label>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="contactRate" value="1" id="contactRate2"
                            required />
                        <label class="form-check-label" for="contactRate2">
                            人の接触したところを素手で接触する
                        </label>
                        <div class="invalid-feedback my-2">いずれかを選択してください</div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 mb-5">
                <button type="submit" class="btn btn-lg btn-primary" id="isvalid-button">
                    感染リスクを計算する
                </button>
                <input type="hidden" id="submit-calculate">
                <input type="hidden" id="modal-trigger" data-bs-toggle="modal" data-bs-target="#modal">
        </form>
    </div>
</body>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modalLabel">計算結果</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="border-bottom m-2">
                    <h2>1日あたりの感染確率</h2>
                    <p class="text-center fs-1 mx-2" id="infectionRisk"></p>
                </div>

                <div class="border-bottom m-2">
                    <h5>内訳</h5>
                    <div class="m-2">
                        <p class="fs-5">接触割合：<br class="d-sm-none" />1日に感染者と接する割合</p>
                        <u>
                            <p class="text-center fs-5" id="contactProbability"></p>
                        </u>
                        <p class="fs-5">空気リスク：<br class="d-sm-none" />飛沫やエアロゾルによる感染のリスク</p>
                        <u>
                            <p class="text-center fs-5" id="aerosolRisk"></p>
                        </u>
                        <p class="fs-5">接触リスク：<br class="d-sm-none" />接触による感染のリスク</p>
                        <u>
                            <p class="text-center fs-5" id="contactRisk"></p>
                        </u>
                        <p class="text-end">0%は，0.001%未満</p>
                    </div>
                </div>

                <div class="border-bottom m-2">
                    <h5>計算式</h5>
                    <div class="m-2">
                        <p>
                            感染確率 = 接触割合 × (空気リスク + 接触リスク)
                        </p>
                    </div>
                </div>

                <div class="d-grid gap-2 m-4">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal"
                        onclick="window.location.reload();">
                        閉じる
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="/scripts/script.js"></script>

</html>